<script>
	export let name;
  const urlParams = new URLSearchParams(window.location.search);
  const extern = urlParams.get('extern');
  let username, password, otp, token, perms;
  let promis;
  let logedInn = false;
  let allowDataSharing = false;

  async function handleKeydown(event) {
    console.log(event.key)
		if (event.key !== 'Enter') return;
    if (!logedInn) {
      handleLogin();
    } else {
      handleOTP();
    }
  }

  function handleLogin() {
    promis = login();
  }

  function handleOTP() {
    promis = otpFunc();
  }

  async function login() {
    const response = await fetch('/api/authenticate', {
      method: 'POST',
      body: JSON.stringify({username, password, "host": extern}), // string or object
      headers: {
        'Content-Type': 'application/json'
      }
    });
    let json;
    try {
      json = await response.json(); //extract JSON from the http response
    } catch (e) {
    }
    if (response.status != 200) {
      if (json != undefined) {
        throw new Error(json.error)
      }
      throw new Error(response.statusText);
    }
    if (json) {
      token = json.token;
      logedInn = true;
    }
    return;
    // do something with myJson
  }

  async function otpFunc() {
    const response = await fetch('/api/verify-otp', {
      method: 'POST',
      body: JSON.stringify({otp, "host": extern}), // string or object
      headers: {
        'Content-Type': 'application/json',
        'Authorization': "Bearer " + token
      }
    });
    console.log(response);
    let json;
    try {
      json = await response.json(); //extract JSON from the http response
    } catch (e) {
    }
    console.log(json)
    if (response.status != 200) {
      if (json != undefined) {
        throw new Error(json.error)
      }
      throw new Error(response.statusText);
    }
    if (json) {
      token = json.token;
      perms = json.props; //TODO: Should update backend with properper naming
      //perms = ["username", "birthday"]
    }
    if (perms === undefined) {
      callback()
    }
  }

  async function sendConsent() {
    if (!allowDataSharing)
      throw new Error("Consent is needed")
    let rights = {}
    perms.forEach(el => {rights[el] = true})

    const response = await fetch('/api/registersystemconsent', {
      method: 'POST',
      body: JSON.stringify({"host": extern, rights}), // string or object
      headers: {
        'Content-Type': 'application/json',
        'Authorization': "Bearer " + token
      }
    });
    let json;
    try {
      json = await response.json(); //extract JSON from the http response
    } catch (e) {
    }
    if (response.status != 200) {
      if (json != undefined) {
        throw new Error(json.error)
      }
      throw new Error(response.statusText);
    }
    token = json.token
    callback()
  }

  function callback() {
    window.location.href = "https://" + extern + "/callback?token=" + token;
  }

</script>

<svelte:head>
  <title>{name}</title>
</svelte:head>

<main on:keydown={handleKeydown}>
	<h1>{name}</h1>
  {#if extern}
  	<h2>Login to {extern}</h2>
    {#if !logedInn}
      <p>Username</p>
      <input bind:value={username}>
      <br>
      <p>Password</p>
      <input bind:value={password} type="password">
      <br><br>
        <button on:click={() => window.location.replace("https://auth.brurberg.no/register/"+extern)}>Register</button>
      <button on:click={handleLogin}>Login</button>
    {:else if !perms}
      <p>OTP</p>
      <input bind:value={otp}>
      <br><br>
      <button on:click={handleOTP}>Verify OTP</button>
    {:else }
      <p>{extern} wants access to the following information:</p>
      {#each perms as perm}
        <h4>{perm}</h4>
      {/each}
      <label>
        <input type=checkbox bind:checked={allowDataSharing}>
        Do you consent?
      </label>
      {#if allowDataSharing}
        <p class="information">Make sure that {extern} also gets your consent. If you are not prompted with a GDPR form from their side, please send us a email at auth@brurberg.no so we can take the proper actions.</p>
      {/if}
      <br>
      <button disabled={!allowDataSharing} on:click={sendConsent}>Send consent</button>
    {/if}

    {#await promis}
    	<p>...waiting</p>
    {:then val}
      {#if logedInn}
        <p>Successfull login. Now complete the login with your OTP.</p>
        <a target="_blank" rel="noopener noreferrer" href="https://www.google-authenticator.com">Need help with One Time Password?</a>
      {:else if perms === undefined}
        <br><br>
        <a href="https://auth.brurberg.no/resetpass/{extern}">Forgot your passord?</a>
      {/if}
    {:catch error}
      <br>
    	<p style="color: red">{error.message}</p>
    {/await}
  {:else}
	  <h2 class="information">You have hit a broken link, please return to the page you wish to login from and try again. If this issue persists, please contact the website you wish to login to and inform them of this issue. If the issue persists over a long time, please feel free to contact us at auth@brurberg.no</h2>
  {/if}
</main>

<style>
  main {
		text-align: center;
    background-color: #FFFFFF;
    height:auto;
		max-width: 28em;
		max-height: 45em;

    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 4em;
    padding-top: .5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
  }

  a {
    margin-top: 1em;
    margin-bottom: 1em;
  }

	h1 {
		color: #4500ff;
		font-size: 4em;
		font-weight: 150;
    margin-top: .5em;
	}

  h4 {
    margin-bottom: .5em;
    margin-top: 0;
  }

  label {
    margin-top: 1em;
  }

  p {
    margin-bottom: .25em;
  }

	@media (max-width: 640px) {
		div {
			max-width: none;
		}
	}
  button {
    padding-left: 1em;
    padding-right: 1em;
  }
  .information {
    font-style: oblique;
    color: gray;
  }
</style>
